<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Administracion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    </head>
    <body>
        <section class="h-120">
            <div class="container h-120" th:object="${usuarioSesion}">
                <div class="row justify-content-sm-center h-120">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="text-center my-1">
                            <img th:src="@{'/images/playhitsgamePresentacion.png'}" class="img-fluid" alt="PLAYHITSGAME" />
                        </div>
                        <div class="text-center my-1">
                            <form th:action="@{/enviarMailMasivo}" method="post">
                                <label for="txtMail">ENVIO DE MAIL MASIVO</label><br>
                                <textarea id="txtMail" name="txtMail" cols="40" rows="10"></textarea><br><br>
                                <button type="submit">Enviar</button>
                            </form>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <label for="ipRouter">IP ROUTER</label>
                            <input id="ipRouter" type="text" th:value="${ipRouter}" disabled />
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <a th:href="@{/registro}" class="button" id="registro"> REGISTRO </a>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <a href="/altaUsuarioAdm" class="text-dark">
                                <p th:text="#{general.altaususario}" />
                            </a>
                        </div>
                        <div>
                            <form class="justify-content-sm-center" method="post" th:action="@{/administracion}" th:object="${filtroUsuarios}" > 
                                <table border="2" class="table-responsive text-center">
                                    <tr>
                                        <th>Activo</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" th:field="*{activo}" />
                                        </td>

                                        <td>
                                            <input type="submit" value="Buscar"/>   
                                        </td>
                                    </tr>  
                                </table>
                            </form> 
                        </div>
                        <div th:if="${usuarios != null and !usuarios.empty}">

                            <form class="justify-content-sm-center" method="post" th:action="@{/accionesUsuarios}" >
                                <input type="checkbox" name="activo" id="activo">Activo?</<input>
                                <input type="checkbox" name="user" id="user">USER</<input>
                                <input type="checkbox" name="admin" id="admin">ADMIN</<input>
                                <input type="checkbox" name="colaborador" id="colaborador">COLABORADOR</<input>
                                <input type="submit" value="Actualizar"/>  

                                <table border="2" class="table-responsive text-center">
                                    <tr> 
                                        <th>Sel</th>
                                        <th>Usuario</th>
                                        <th>Activo?</th>
                                        <th>Alias</th>
                                        <th>Grupo</th>
                                        <th>Idioma</th>
                                        <th>Roles</th>                   
                                        <th>Acciones</th>
                                    </tr>
                                    <tr th:each="elem : ${usuarios}">
                                        <td><input type="checkbox" th:name="${elem.selId()}" th:id="${elem.selId()}" /></td>
                                        <td th:text="${elem.usuario}"></td>
                                        <td th:text="${elem.activoTxt}"></td>
                                        <td th:text="${elem.alias}"></td>
                                        <td th:text="${elem.grupo}"></td>
                                        <td th:text="${elem.idioma}"></td>
                                        <td th:text="${elem.rolesTxt}"></td>
                                        <td>
                                            <a th:href="@{'/eliminarUsuario/' + ${elem.id}}">Eliminar</a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>   

                        <div th:if="${usuarios == null or usuarios.empty}">
                            <p>NO HAY NINGUN USUARIO PARA LISTAR</p>
                        </div>
                        <div class="text-center">
                            <a href="/panel" class="text-dark">
                                <p th:text="#{general.volver}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
