<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Administracion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    </head>
    <body>
        <section class="h-120">
            <div class="container h-120" th:object="${usuarioSesion}">
                <div class="row justify-content-sm-center h-120">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="text-center my-1">
                            <img th:src="@{'/images/playhitsgamePresentacion.png'}" class="img-fluid" alt="PLAYHITSGAME" />
                        </div>
                        <div class="text-center my-1">
                            <!-- Formulario para Poner Mantenimiento -->
                            <form th:action="@{/ponerMantenimiento}" method="post">                                
                                <button id="ponerMant" type="submit"
                                        th:classappend="${config.mantenimiento} ? 'btn btn-secondary' : 'btn btn-success'">
                                    Poner Mantenimiento Hasta
                                </button>
                                <input type="datetime-local" id="fechaMantenimiento" name="fechaMantenimiento" 
                                       th:value="${fechaHoraActual}" />
                            </form>
                            <br/>
                            <!-- Formulario para Quitar Mantenimiento -->
                            <form th:action="@{/quitarMantenimiento}" method="post">                                
                                <button id="quitarMant" type="submit"
                                        th:classappend="${config.mantenimiento} ? 'btn btn-success' : 'btn btn-secondary'">
                                    Quitar Mantenimiento
                                </button>
                            </form>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <form th:action="@{/cambiarMensajeInicio}" method="post">
                                <label for="txtInicio_es">MENSAJE DE INICIO ESPAÑOL</label><br>
                                <textarea id="txtInicio_es" name="txtInicio_es" th:text="${config.mensajeInicio_es}" cols="40" rows="2"></textarea><br>
                                <label for="txtInicio_en">MENSAJE DE INICIO INGLES</label><br>
                                <textarea id="txtInicio_en" name="txtInicio_en" th:text="${config.mensajeInicio_en}" cols="40" rows="2"></textarea><br><br>
                                <button type="submit">Modificar</button>
                            </form>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <form th:action="@{/enviarMailMasivo}" method="post">
                                <label for="txtMail">ENVIO DE MAIL MASIVO</label><br>
                                <textarea id="txtMail" name="txtMail" cols="40" rows="10"></textarea><br><br>
                                <button type="submit">Enviar</button>
                            </form>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <label for="ipRouter">IP ROUTER</label>
                            <input id="ipRouter" type="text" th:value="${config.ipRouter}" disabled />
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <a th:href="@{/registro}" class="button" id="registro"> REGISTRO </a>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <a href="/altaUsuarioAdm" class="text-dark" th:text="#{general.altaususario}"></a>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <a th:href="@{/usuarios}" class="button" id="usuarios"> USUARIOS </a>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center my-1">
                            <a th:href="@{/partidasGrupo}" class="button" id="partidasGrupo"> PARTIDAS GRUPO </a>
                        </div>
                        <hr style="border: 0; height: 2px; background-color: #333; width: 100%;"/>
                        <div class="text-center">
                            <a href="/panel" class="text-dark">
                                <p th:text="#{general.volver}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
