<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alta Cancion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>          
           
            
            <form method="post" th:action="@{/altaCancion}" th:object="${newcancion}">                
                <p>Titulo<input type="text" th:field="*{titulo}" required="required"/></p>
                <p>Interprete<input type="text" th:field="*{interprete}" required="required"/></p>
                <p>Album<input type="text" th:field="*{album}"/></p>
                <p>Año<input type="number" th:field="*{anyo}" required="required"/></p>
                <p>Genero
                <select th:field="*{genero}" title="Genero">
                    <option th:each="generoOpt : ${T(mld.playhitsgame.exemplars.Genero).values()}" 
                    th:value="${generoOpt}" th:text="${generoOpt}"></option>
                </select></p>
                <p>Idioma
                <select th:field="*{idioma}" title="Idioma">
                    <option th:each="idiomaOpt : ${T(mld.playhitsgame.exemplars.Idioma).values()}" 
                    th:value="${idiomaOpt}" th:text="${idiomaOpt}"></option>
                </select></p>
                <p>Tema
                <select th:field="*{tema}" title="Tema">
                    <option th:each="elem : ${temas}" 
                    th:value="${elem}" th:text="${elem}"></option>
                </select></p>
                <p>spotifyid<input type="text" th:field="*{spotifyid}" required="required"/></p>
                <p>spotifyplay<input type="text" th:field="*{spotifyplay}" required="required"/></p>
                <p>spotifyimagen<input type="text" th:field="*{spotifyimagen}" required="required"/></p>
                <p>Revisar<input type="checkbox" th:field="*{revisar}" /></p>
                <input class="btn btn-primary ms-auto" type="submit" value="Alta Cancion" />                
            </form>
            
            <p th:text="${result}"></p>
            
            <a href="/gestionCanciones" class="button" id="volver">VOLVER</a>
        </div>
    </body>
</html>
