<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>           
            <form method="post" th:action="@{/partida/crear}" th:object="${newpartida}"> 
                <p>Genero
                <select th:field="*{genero}" title="Genero">
                    <option th:each="generoOpt : ${T(mld.playhitsgame.exemplars.Genero).values()}" 
                    th:value="${generoOpt}" th:text="${generoOpt}"></option>
                </select></p>
                <p>Pais
                <select th:field="*{idioma}" title="Idioma">
                    <option th:each="idiomaOpt : ${T(mld.playhitsgame.exemplars.Idioma).values()}" 
                    th:value="${idiomaOpt}" th:text="${idiomaOpt}"></option>
                </select></p>
                <p>Tema
                <select th:field="*{tema}" title="Tema">
                    <option th:each="elem : ${temas}" 
                    th:value="${elem}" th:text="${elem}"></option>
                </select></p>                
                
                <p>Año Inicial<input type="number" th:field="*{anyoInicial}" th:value="${newpartida.anyoInicial}" required="required"/></p>
                <p>Año Final<input type="number" th:field="*{anyoFinal}" th:value="${newpartida.anyoFinal}" required="required"/></p>
                <p>Numero Rondas<input value="10" type="number" name="nrondas" requied="required"/></p>
                
                <p th:text="${'GRUPO '+ usuarioSesion.txtGrupo}"></p>
                
                <div th:if="${posiblesinvitados != null}">
                    <table border="2">
                        <tr th:each="elem : ${posiblesinvitados}">
                            <!--<td><input type="checkbox" th:name="${'elem' + #strings.toString(elem.id)}" th:id="${'elem' + #strings.toString(elem.id)}" checked /></td>-->
                            <td><input type="checkbox" th:name="${elem.nombreId}" id="${elem.nombreId}" checked /></td>
                            <td th:text="${elem.nombre}"></td>                    
                        </tr>
                    </table>
                </div>
                <div th:if="${posiblesinvitados == null}">
                    <p th:text="'LA PARTIDA SERA PARA TI SOLO, YA QUE NO HAY NINGUN USUARIO QUE ESTE EN TU GRUPO PARA AÑADIR COMO INVITADO'"/>
                </div>              
            
            <p th:text="${result}"></p>
        </div>

                <input type="submit" value="Crear"/>                
            </form>
            
            <p th:text="${result}"></p>
        </div>
    </body>
</html>
