<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gestion Canciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    </head>
    <body>
        <header th:insert="~{plantillas/playhitsgame :: encabezado}"></header>
        
             
        <div>
             <form method="post" th:action="@{/gestionCanciones}" th:object="${filtro}" > 
                <table border="2">
                <tr>
                    <th>Genero</th>
                    <th>Idioma</th>
                    <th>Tema</th>
                    <th>Año Inicial</th>
                    <th>Año Final</th>
                    <th>Verificar</th>
                </tr>
                <tr>
                    <td>
                        <select th:field="*{genero}" title="Genero">
                            <option th:each="generoOpt : ${T(mld.playhitsgame.exemplars.Genero).values()}" 
                            th:value="${generoOpt}" th:text="${generoOpt}"></option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{idioma}" title="Idioma">
                            <option th:each="idiomaOpt : ${T(mld.playhitsgame.exemplars.Idioma).values()}" 
                            th:value="${idiomaOpt}" th:text="${idiomaOpt}"></option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{tema}" title="Tema">
                            <option th:each="elem : ${temas}" 
                            th:value="${elem}" th:text="${elem}"></option>
                        </select>
                    </td>
                    <td>
                        <input type="number" th:field="*{anyoInicial}" required="required"/>
                    </td>
                     <td>
                        <input type="number" th:field="*{anyoFinal}" required="required"/>
                    </td>
                    
                    <td>
                        <input type="checkbox" th:field="*{revisar}" />
                    </td>
                    
                    <td>
                        <input type="submit" value="Buscar"/>   
                    </td>
                </tr>           
                             
            </form> 
                 
            
             <a href="/altaCancion" class="button" id="altaCancion"> ALTA CANCION </a>
            
            <p th:text="${result}"></p>
            
        </div>
        
        
        <div th:if="${canciones != null and !canciones.empty}">
            
            <form method="post" th:action="@{/marcarRevision}" >
                <input type="submit" value="Marcar la seleccion para pendiente de validar"/>  
                <table border="2">
                    <tr> 
                        <th>Sel</th>
                        <th>Titulo</th>
                        <th>Interprete</th>
                        <th>Album</th>
                        <th>Genero</th>
                        <th>Idioma</th>
                        <th>Tema</th>                   
                        <th>Año</th>
                        <th>Spotifyid</th>                   
                        <th>Verificar?</th>
                        <th>Acciones</th>
                    </tr>
                    <tr th:each="elem : ${canciones}">
                        <td><input type="checkbox" th:name="${elem.selId()}" th:id="${elem.selId()}" /></td>
                        <td th:text="${elem.titulo}"></td>
                        <td th:text="${elem.interprete}"></td>
                        <td th:text="${elem.album}"></td>
                        <td th:text="${elem.genero}"></td>
                        <td th:text="${elem.idioma}"></td>
                        <td th:text="${elem.tema}"></td>
                        <td th:text="${elem.anyo}"></td>
                        <td th:text="${elem.spotifyid}"></td>
                        <td th:text="${elem.txtRevision()}"></td>
                        <td>
                            <a th:href="@{'/modificarCancion/' + ${elem.id}}">Editar</a>
                            <a th:href="@{'/eliminarCancion/' + ${elem.id}}">Eliminar</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>   
        
        <div th:if="${canciones == null or canciones.empty}">
            <p>NO HAY NINGUNA CANCION PARA LISTAR</p>
        </div>
        
        <footer th:insert="~{plantillas/playhitsgame :: pie}"></footer>
    </body>
</html>
