<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:insert="~{plantillas/playhitsgame :: encabezado}"></header>
            <p>PAGINA DE LOGIN</p>
            
            <form method="post" th:action="@{/login}" id="login" >                
                <input type="text" placeholder="Usuario (mail)" name="elUsuario" required="required"/>
                <input type="password" placeholder="Contraseña" name="laContrasenya" required="required"/>
                <!--<input type="submit" th:value="#{inicio.acceder}" th:onclick="hacerLogin()"/>-->
                <input type="submit" th:value="#{inicio.acceder}"/>                
            </form>
            <p th:text="${error}"></p>
            <br/>
            <br/>
            <a href="/altaUsuario" class="button" id="altaUsuario"> [[#{inicio.alta}]] </a>
            <br/>
            <br/>            
            
        <footer th:insert="~{plantillas/playhitsgame :: pie}"></footer>
        <script type="text/javascript" th:src="@{/javascript/Usuario.js}"></script>
    </body>
</html>
