<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PlayListGame</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <body>
        
            
            <p>PAGINA DE LOGIN</p>
            
            <form method="post" th:action="@{/}">                
                <input type="text" placeholder="Usuario (mail)" name="elUsuario" required="required"/>
                <input type="password" placeholder="Contraseña" name="laContrasenya" required="required"/>
                <input type="submit" value="ACCEDER"/>                
            </form>
            <p th:text="${error}"></p>
            <br/>
            <br/>
            <a href="/altaUsuario" class="button" id="altaUsuario"> ALTA USUARIO </a>
            <br/>
            <br/>
            
            
          <footer th:insert="~{plantillas/playhitsgame :: pie}"></footer>
    </body>
</html>
