<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Canciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <header th:insert="~{plantillas/playhitsgame :: encabezado}"></header>

        <a href="/gestionCanciones" class="button" id="volver">VOLVER</a>

        <div th:if="${errores != null and errores.empty == false}">
            <p>ERRORES DETECTADOS :</p>
            <p th:each="txt : ${errores}" th:text="${txt}" />
        </div> 
        <audio controls id="reproductor" style="display: none;">
            <source src="" type="audio/mpeg" />                                                            
        </audio>

        <div th:if="${lista != null and !lista.empty}">

            <table border="2">
                <tr>
                    <th>Año</th>
                    <th>Canciones</th>                    
                </tr>            

                <tr th:each="dato : ${estadistica}">
                    <td th:text="${dato.key}"></td>
                    <td th:text="${dato.value}"></td>
                </tr>
            </table>

            <table border="2">
                <tr>
                    <th>Titulo</th>
                    <th>Interprete</th>
                    <th>Año</th>
                    <th>Temas</th>  
                    <th>Spotify</th>
                    <th>Play</th>
                </tr>
                <tr th:each="elem : ${lista}">
                    <td th:text="${elem.titulo}"></td>
                    <td th:text="${elem.interprete}"></td>
                    <td th:text="${elem.anyo}"></td>
                    <td th:text="${elem.tematicasTxt}"></td>
                    <td th:text="${elem.spotifyid}"></td>
                    <td>
                        <img id="play" src="images/play.png" alt="Play" width="30" height="30" style="align-content: center"
                                 th:data-name="${elem.spotifyplay}"
                                 th:onclick="reproducir(this.getAttribute('data-name'))"/>
                    </td>                    
                </tr>
            </table>
        </div>   

        <div th:if="${lista == null or lista.empty}">
            <p>NO HAY NINGUNA CANCION PARA LISTAR</p>
        </div>

        <script type="text/javascript" th:src="@{/javascript/Reproductor.js}"></script>
    </body>    

</html>
