<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar Cancion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-8 col-xl-10 col-lg-10 col-md-9 col-sm-9">
                        <div class="text-center my-5">
                            <img th:src="@{'/images/playhitsgamePresentacion.png'}" class="img-fluid" alt="PLAYHITSGAME" />
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <h1 class="fs-4 card-title fw-bold mb-4" text="Modificar Cancion"/>         

                                <form method="post" th:action="@{/modificarCancionTmp}" th:object="${cancion}">  
                                    <input type="hidden" th:field="*{id}" required="required"/></p>
                                    <p>Titulo<input type="text" th:field="*{titulo}" required="required" size="50" /></p>
                                    <p>Interprete<input type="text" th:field="*{interprete}" required="required"/></p>
                                    <p>Album<input type="text" th:field="*{album}"/></p>
                                    <p>Año<input type="number" th:field="*{anyo}" required="required" size="4"/></p>                                   
                                    <p>spotifyid<input type="text" th:field="*{spotifyid}" required="required"/></p>
                                    <p>spotifyplay<input type="text" th:field="*{spotifyplay}" required="required" size="50"/></p>
                                    <p>spotifyimagen<input type="text" th:field="*{spotifyimagen}" required="required" size="50"/></p>
                                    <p>Revisar<input type="checkbox" th:field="*{revisar}" /></p>
                                    <p>SoloTemas<input type="checkbox" th:field="*{soloTemas}" /></p>
                                    <input type="submit" value="Modificar Cancion"/>    
                                    <p th:text="${result}"></p>
                                </form>
                            </div>
                            <div class="card-footer py-3 border-0">
                                <div class="text-center">                                   
                                    <a href="/gestionCancionesTmp" class="text-dark">
                                        <p th:text="#{general.volver}"/>  
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5 text-muted">
                            <p th:text="#{general.version}"/>
                        </div>
                    </div>
                </div>
            </div>  

        </div>
</body>
</html>
