<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>           
            <div>  
               <input type="hidden" id="serverWS" th:value="${serverWebsocket}"/>
               <table border="2" > 
                   <tr>
                   <p th:text="${usuarioSesion.nombre}"/>
                   <input type="hidden" id="idusuario" th:value="${usuarioSesion.id}"/>
                   </tr>
                   <tr>
                       <td><p>PARTIDA</p></td>
                       <td>
                           <p th:each="txt : ${partidaSesion.descripcion}" th:text="${txt}"></p>
                           <input type="hidden" id="idpartida" th:value="${partidaSesion.id}"/>
                       </td>
                       <td>
                            PARTICIPANTES
                            <p th:each="usu : ${partidaSesion.usuariosPartida()}" th:text="${usu.nombre}"></p>                     
                       </td>
                   </tr>
                   <tr th:each="ronda : ${partidaSesion.rondas}">                                              
                        <div th:if="${partidaSesion.rondaActual  == ronda.numero}">
                            <td th:text="'RONDA ' + ${ronda.numero}"></td>  
                            <td>
                                <table border="2" > 
                                    <tr>
                                        <td>
                                            <audio controls>
                                                <source th:src="${ronda.cancion.spotifyplay}" type="audio/mpeg"/>
                                            </audio>
                                        </td>
                                        <td/>
                                    </tr>
                                    <tr>                                        
                                        <td>
                                            Año
                                            <input type="number" name="anyo" id="anyo" min="1" max="2050"/>
                                            <button th:onclick="respuestaAnyo()" id="botonAnyo">
                                                <p>Enviar</p>
                                            </button>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Interprete</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div th:each="opTitulo : ${opcTitulos}"> 
                                                <button th:data-name="${opTitulo.cancion}" th:onclick="respuestaTitulo(this.getAttribute('data-name'))" th:id="'titulo_' + ${opTitulo.cancion}">
                                                    <p th:text="${opTitulo.opTitulo}"></p>
                                                </button>
                                                <br/>                                  
                                            </div>
                                        </td>
                                        <td>
                                            <div th:each="opcInterprete : ${opcInterpretes}">   
                                                <button th:data-name="${opcInterprete.cancion}" th:onclick="respuestaInterprete(this.getAttribute('data-name'))" th:id="'interprete_' + ${opcInterprete.cancion}">
                                                    <p th:text="${opcInterprete.opInterprete}"></p>
                                                </button>
                                                <br/>                                  
                                            </div>
                                        </td>
                                    </tr>
                                </table>                               
                            </td>
                            <td>
                                <p th:text="ENVIADO"/>
                                <div id="mensajesSockets"> 
                                </div>
                                <a href="/partida" class="button" id="refrecar">SIGUIENTE RONDA</a>
                            </td>
                        </div>    
                   </tr> 
                   <tr th:each="ronda : ${partidaSesion.rondas}">                         
                         <div th:if="${ronda.estaCompletada()}">
                            <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                            <td>
                                <p th:text="'Titulo: ' + ${ronda.cancion.titulo}"></p>
                                <p th:text="'Interprete: ' + ${ronda.cancion.interprete}"></p>
                                <p th:text="'Año: ' + ${ronda.cancion.anyo}"></p>
                            </td>
                            <td>
                                <img th:src="${ronda.cancion.spotifyimagen}" alt="PLAYHITSGAME" width="100" height="100" />
                            </td> 
                            <div th:each="resp : ${respuestas}">
                                <td th:if="${resp.ronda.numero == ronda.numero}">
                                    <p th:text="Enviado"/>
                                    <p th:text="'Año : ' + ${resp.anyo}"/>
                                    <p th:text="'Titulo : ' + ${resp.titulo}"/>
                                    <p th:text="'Interp : ' + ${resp.interprete}"/>
                                </td>
                            </div>
                         </div>
                         <div th:if="${partidaSesion.rondaActual != ronda.numero && !ronda.estaCompletada()}">
                             <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                             <td>
                                <p>Pendiente</p>
                            </td> 
                         </div>                     
                   </tr>      
                </table> 
            </div>
        
        <script th:inline="javascript">
            let serverWS = document.getElementById("serverWS").value;
            let dirSocket = "ws:"+serverWS+"/websocket";
            let socket = new WebSocket(dirSocket);

            socket.onmessage = function(event){
                if (event.data === '#nueva#')
                    location.reload();
                if (event.data === '#acabar#'){
                    location.roload(); 
                    txtHtml = txtHtml + '<p>' + 'pruebaaaa' + '</p>';
                    mensajesSockets.innerHTML = txtHtml;
                    // no e si hay que hacer algo mas
                    return;
                }
                let mensajesSockets = document.getElementById("mensajesSockets");
                let usuarios = event.data.split(",");
                let txtHtml = '';
                for (let i = 0; i < usuarios.length; i++) {
                    txtHtml = txtHtml + '<p>' + usuarios[i] + '</p>';
                }
                mensajesSockets.innerHTML = txtHtml;
            };            
            
            function txtMensaje(op, idCancion, anyo){
                
                let userId = document.getElementById("idusuario").value;
                let partidaId = document.getElementById("idpartida").value;
                let mensaje = "{'op' : '" + op + "',";
                mensaje = mensaje + "'idUsuario' : " + userId + ","; 
                mensaje = mensaje + "'idPartida' : " + partidaId;
                if(idCancion !== null){
                    mensaje = mensaje + ",'idCancion' : " + idCancion;
                }
                if(anyo !== null){
                    mensaje = mensaje + ",'anyo' : " + anyo;
                }
                mensaje = mensaje + "}";
                //window.alert(mensaje);
                return mensaje;
            }
            
            var botonAnyo = false;
            var botonTitulo = false;
            var botonInterprete = false;
            //El sendMessage no hace falta ya lo hara el servlet
            // sino habria que hacer boton con onclick="sendMessage()"
            window.addEventListener('load', function() {
                try {
                    socket.send(txtMensaje("alta", null, null));  
                } catch (e){
                    // si no funciona con la configurada
                    // probamos con la local host
                    try {
                        
                        socket.send(txtMensaje("alta", null, null));  
                    } catch (e){
                        window.alert("No hay conexion al socket " + dirSocket);
                    }
                }
            });            
            
            function respuestaTitulo(codCancion){ 
                if (botonTitulo === false){
                    socket.send(txtMensaje("titulo", codCancion, null));  
                    let boton = document.getElementById("titulo_" +codCancion);
                    boton.style.backgroundColor = "green";
                    botonTitulo = true;
                }
            }
            
            function respuestaInterprete(codCancion){   
                if (botonInterprete === false){
                    socket.send(txtMensaje("interprete", codCancion, null));   
                    let boton = document.getElementById("interprete_" +codCancion);
                    boton.style.backgroundColor = "green";
                    botonInterprete = true;
                }
            }
            
            function respuestaAnyo(){
                if (botonAnyo === false){
                    let anyo = document.getElementById("anyo");
                    let boton = document.getElementById("botonAnyo");
                    if (anyo.value === "" || anyo.value === 0)
                        window.alert("Se ha de informar un año");
                    else{
                        socket.send(txtMensaje("anyo", null , anyo.value));
                        boton.style.backgroundColor = "green";
                        botonAnyo = true;
                    }                    
                }
            }            
           
            
        </script>    
    </body>
</html>
