<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>           
            <div>            
               <table border="2" > 
                   <tr>
                   <p th:text="${usuarioSesion.nombre}"/>
                   <input type="hidden" id="idusuario" th:value="${usuarioSesion.id}"/>
                   </tr>
                   <tr>
                       <td><p>PARTIDA</p></td>
                       <td>
                           <p th:each="txt : ${partidaSesion.descripcion}" th:text="${txt}"></p>
                           <input type="hidden" id="idpartida" th:value="${partidaSesion.id}"/>
                       </td>
                       <td>
                           <p th:text="'Usuarios que han respondido'"/>
                           <div id="mensajesSockets">
                                <a href="/partida" class="button" id="refrecar">REFRESCAR</a>
                           </div>                           
                       </td>
                   </tr>
                   <tr th:each="ronda : ${partidaSesion.rondas}">                                              
                        <div th:if="${partidaSesion.rondaActual  == ronda.numero}">
                            <td th:text="'RONDA ' + ${ronda.numero}"></td>  
                            <td>
                                <table border="2" > 
                                    <tr>
                                        <td>
                                            <audio controls>
                                                <source th:src="${ronda.cancion.spotifyplay}" type="audio/mpeg"/>
                                            </audio>
                                        </td>
                                        <td/>
                                    </tr>
                                    <tr>                                        
                                        <td>
                                            Año
                                            <input type="number" name="anyo" id="anyo" min="1" max="2050"/>
                                            <button th:onclick="respuestaAnyo()">
                                                <p>Enviar</p>
                                            </button>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Interprete</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div th:each="opTitulo : ${opcTitulos}"> 
                                                <button th:data-name="${opTitulo.key}" th:onclick="respuestaTitulo(this.getAttribute('data-name'))">
                                                    <p th:text="${opTitulo.value}"></p>
                                                </button>
                                                <br/>                                  
                                            </div>
                                        </td>
                                        <td>
                                            <div th:each="opcInterprete : ${opcInterpretes}">   
                                                <button th:data-name="${opcInterprete.key}" th:onclick="respuestaInterprete(this.getAttribute('data-name'))">
                                                    <p th:text="${opcInterprete.value}"></p>
                                                </button>
                                                <br/>                                  
                                            </div>
                                        </td>
                                    </tr>
                                </table>                               
                            </td>
                        </div>    
                   </tr> 
                   <tr th:each="ronda : ${partidaSesion.rondas}">                         
                         <div th:if="${ronda.estaCompletada()}">
                            <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                            <td>
                                <p th:text="'Titulo: ' + ${ronda.cancion.titulo}"></p>
                                <p th:text="'Interprete: ' + ${ronda.cancion.interprete}"></p>
                                <p th:text="'Año: ' + ${ronda.cancion.anyo}"></p>
                            </td>
                            <td>
                                <img th:src="${ronda.cancion.spotifyimagen}" alt="PLAYHITSGAME" width="100" height="100" />
                            </td> 
                            <div th:each="resp : ${respuestas}">
                                <td th:if="${resp.ronda.numero == ronda.numero}">
                                    <p th:text="Enviado"/>
                                    <p th:text="'Año ' + ${resp.anyo}"/>
                                </td>
                            </div>
                         </div>
                         <div th:if="${partidaSesion.rondaActual != ronda.numero && !ronda.estaCompletada()}">
                             <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                             <td>
                                <p>Pendiente</p>
                            </td> 
                         </div>                     
                   </tr>      
                </table> 
            </div>
        
        <script th:inline="javascript">
            
            let socket = new WebSocket("ws://localhost:8080/websocket");
            //let socket = new WebSocket("ws:/websocket");
            socket.onmessage = function(event){
                let mensajesSockets = document.getElementById("mensajesSockets");
                mensajesSockets.innerHTML += '<p>' + event.data + '</p>';
            };
            
            
            function txtMensaje(op, idCancion, anyo){
                
                let userId = document.getElementById("idusuario").value;
                let partidaId = document.getElementById("idpartida").value;
                let mensaje = "{'op' : '" + op + "',";
                mensaje = mensaje + "'idUsuario' : " + userId + ","; 
                mensaje = mensaje + "'idPartida' : " + partidaId;
                if(idCancion !== null){
                    mensaje = mensaje + ",'idCancion' : " + idCancion;
                }
                if(anyo !== null){
                    mensaje = mensaje + ",'anyo' : " + anyo;
                }
                mensaje = mensaje + "}";
                window.alert(mensaje);
                return mensaje;
            }
            
            //El sendMessage no hace falta ya lo hara el servlet
            // sino habria que hacer boton con onclick="sendMessage()"
            window.addEventListener('load', function() {
                socket.send(txtMensaje("alta", null, null));  
            });       
            
            
            function respuestaTitulo(codCancion){               
                socket.send(txtMensaje("titulo", codCancion, null));                
            }
            
            function respuestaInterprete(codCancion){               
                socket.send(txtMensaje("interprete", codCancion, null));                
            }
            
            function respuestaAnyo(){
                let anyo = document.getElementById("anyo").value;
                if (anyo === 0)
                    window.alert("Se ha de informar un año");
                else
                    socket.send(txtMensaje("anyo", null , anyo));                
            }
        </script>    
    </body>
</html>
