<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>           
            <div>            
               <table border="2" > 
                   <tr>
                   <p th:text="${usuarioSesion.nombre}"/>
                   <input type="hidden" id="usuario" th:value="${usuarioSesion.id}"/>
                   </tr>
                   <tr>
                       <td><p>PARTIDA</p></td>
                       <td>
                           <p th:each="txt : ${partidaSesion.descripcion}" th:text="${txt}"></p>
                       </td>
                       <td>
                           <p th:text="'Usuarios que han respondido'"/>
                           <div id="mensajesSockets">
                                <a href="/partida" class="button" id="refrecar">REFRESCAR</a>
                           </div>                           
                       </td>
                   </tr>
                   <tr th:each="ronda : ${partidaSesion.rondas}">                                              
                        <div th:if="${partidaSesion.rondaActual  == ronda.numero}">
                            <td th:text="'RONDA ' + ${ronda.numero}"></td>  
                            <td>
                                <table border="2" > 
                                    <tr>
                                        <td>
                                            <audio controls>
                                                <source th:src="${ronda.cancion.spotifyplay}" type="audio/mpeg"/>
                                            </audio>
                                        </td>
                                        <td/>
                                    </tr>
                                    <tr>                                        
                                        <td>
                                            <form method="post" action="/partida" > 
                                                <p>Año</p>
                                                <input type="number" name="anyo" required="required"/>          
                                                <input type="submit" value="Responder"/>                
                                            </form> 
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Interprete</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div th:each="opTitulo : ${opcTitulos}">                                   
                                                <button onclick="respuestaTitulo()" th:id="${opTitulo.key}">
                                                    <p th:text="${opTitulo.value}"></p>
                                                </button>
                                                <br/>                                  
                                            </div>
                                        </td>
                                        <td>
                                            <div th:each="opcInterprete : ${opcInterpretes}">                                   
                                                <button onclick="respuestaInterprete()" th:id="${opcInterprete.key}">
                                                    <p th:text="${opcInterprete.value}"></p>
                                                </button>
                                                <br/>                                  
                                            </div>
                                        </td>
                                    </tr>
                                </table>                               
                            </td>
                        </div>    
                   </tr> 
                   <tr th:each="ronda : ${partidaSesion.rondas}">                         
                         <div th:if="${ronda.estaCompletada()}">
                            <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                            <td>
                                <p th:text="'Titulo: ' + ${ronda.cancion.titulo}"></p>
                                <p th:text="'Interprete: ' + ${ronda.cancion.interprete}"></p>
                                <p th:text="'Año: ' + ${ronda.cancion.anyo}"></p>
                            </td>
                            <td>
                                <img th:src="${ronda.cancion.spotifyimagen}" alt="PLAYHITSGAME" width="100" height="100" />
                            </td> 
                            <div th:each="resp : ${respuestas}">
                                <td th:if="${resp.ronda.numero == ronda.numero}">
                                    <p th:text="Enviado"/>
                                    <p th:text="'Año ' + ${resp.anyo}"/>
                                </td>
                            </div>
                         </div>
                         <div th:if="${partidaSesion.rondaActual != ronda.numero && !ronda.estaCompletada()}">
                             <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                             <td>
                                <p>Pendiente</p>
                            </td> 
                         </div>                     
                   </tr>      
                </table>   
            
            </div>
        <script th:inline="javascript">
            let socket = new WebSocket("ws://localhost:8080/websocket");
            //let socket = new WebSocket("ws:/websocket");
            socket.onmessage = function(event){
                let mensajesSockets = document.getElementById("mensajesSockets");
                mensajesSockets.innerHTML += '<p>' + event.data + '</p>';
            };
            //El sendMessage no hace falta ya lo hara el servlet
            // sino habria que hacer boton con onclick="sendMessage()"
            window.addEventListener('load', function() {
                let username = document.getElementById("usuario");
                let mensaje = username.value;
                //window.alert(mensaje);
                socket.send(mensaje);  
            });
        </script>    
    </body>
</html>
