<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="#{general.partida}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
        <!--<script type="text/javascript" th:src="@{/javascript/StompJs.js}"></script>-->
    </head>

    <body>
        <section>
            <input type="hidden" id="fichAjuda" 
                   th:value="${locale != null ? '/ayuda/PartidaGrupo_' + locale.language + '.html' : '/ayuda/PartidaGrupo_es.html'}" />
            <input type="hidden" id="serverWS" th:value="${serverWebsocket}" />
            <input type="hidden" id="idusuario" th:value="${usuarioSesion.id}" />
            <input type="hidden" id="idpartida" th:value="${partidaSesion.id}" />
            <input type="hidden" id="rol" th:value="${rol}" />
            <input type="hidden" id="activarPlay" th:value="${partidaSesion.activarPlay}" />
            <input type="hidden" id="touchstart" th:value="${usuarioSesion.touchstart}" />
            <input type="hidden" id="txtprimerocancion" th:value="#{general.primerocancion}" />
            <input type="hidden" id="txtprimerointer" th:value="#{general.primerointer}" />
            <input type="hidden" id="txtprimeroanyo" th:value="#{general.primeroanyo}" />
            <div class="container h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="card shadow-lg">
                            <div class="card-body p-4" >
                                <table class="table-responsive table-bordered" style="max-width: 100%; width: 100%; table-layout: fixed;">
                                    <tr>
                                        <td colspan="3" style="text-align:center;">
                                            <img th:src="@{'/images/playhitsgame.webp'}" class="img-fluid" alt="PLAYHITSGAME" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="3" style="text-align:center;">
                                            <span th:text="#{general.jugador} + ' : ' + ${usuarioSesion.nombre}" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="3"  style="text-align:center; background-color: lightpink;">
                                            <span th:text="#{general.partida} + ' ' + #{general.grupo}" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">  
                                            <p th:each="txt : ${partidaSesion.descripcion}" th:text="#{${txt.etiqueta}} + ' : ' + ${txt.valor}" />
                                            <div class="btn text-center">                                               
                                                <input type="image" class="btn" id="imageInfo" alt="Info"  data-bs-toggle="modal" data-bs-target="#ayuda" th:src="@{'/images/info.png'}"  width="60" height="60" /> 
                                            </div>                            
                                            <div class="modal fade" id="ayuda" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="ayudaModalLabel">Info</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div id="info" class="modal-body" />
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>                                           
                                            <p th:text="#{general.participantes}" />                                                
                                            <p th:each="usu : ${ptsUsuario}" 
                                               th:text="${usu.usuario.nombre} + ' : ' + ${usu.puntos}" /> 
                                        </td>
                                    </tr>
                                    <tr>
                                    <div th:if="${partidaSesion.terminada == true}">
                                        <td colspan="3" style="text-align:center; background-color: lightpink;" 
                                            th:text="#{general.partidafinalizada}" />
                                    </div>
                                    <div th:if="${partidaSesion.terminada == false}">  
                                        <td colspan="3"  style="text-align:center; background-color: lightpink;" 
                                            th:text="#{general.ronda} + ' ' + ${partidaSesion.rondaActual}" />   
                                    </div>
                                    </tr>
                                    <tr th:each="ronda : ${partidaSesion.rondas}">
                                    <div th:if="${partidaSesion.rondaActual  == ronda.numero}">
                                        <td colspan="3">
                                            <table class="table table-sm" style="text-align:center;">
                                                <tr>
                                                    <td colspan="3">
                                                        <p th:text="#{general.usurepondido}" />
                                                        <div id="mensajesSockets">
                                                        </div>
                                                        <div th:if="${rol == T(mld.playhitsgame.exemplars.Rol).master}">
                                                            <button class="button" th:onclick="forzarAcabarRonda()">
                                                                <p th:text="#{general.acabarronda}" />
                                                            </button>
                                                        </div>
                                                        <input type="image" th:src="@{'/images/actualizar.png'}" width="40" height="40" onclick="document.location.reload();" />
                                                        <div th:if="${partidaSesion.terminada}">
                                                            <a th:href="'/partidaConsulta/' + ${partidaSesion.id}" class="button" id="resultados">
                                                                <p th:text="#{general.usurepondido}" />
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan='3' style="background-color: aqua;">  
                                                        <div id="mostrarPlayer" style="display: none;">
                                                            <audio controls id="reproductor">
                                                                <source th:src="${ronda.cancion.spotifyplay}" type="audio/mpeg" />                                                            
                                                            </audio>
                                                        </div>
                                                        <div th:if="${rol == T(mld.playhitsgame.exemplars.Rol).master}">
                                                            <input id="playerOnOff" type="image" th:src="@{'/images/CandadoCerrado.png'}" width="40" height="40" onclick="activarPlayer_on_off();" />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div id="preRespuestas">
                                                <table class="table table-sm" style="text-align:center; ">
                                                    <tr>
                                                        <td id="cuentaAtras" th:text="#{general.playcomenzar}" 
                                                            style="text-align:center; background-color: lightpink;"/>
                                                    </tr>
                                                </table>                                               
                                            </div>
                                            <div id="cRespuestas" style="display: none;">
                                                <table  class="table table-sm" style="text-align:center;">
                                                    <tr>
                                                        <th style="background-color: lightpink;width: 40%; ">
                                                            <p th:text="#{general.titulo}" /> 
                                                        </th>
                                                        <th style="background-color: lightpink;width: 35%; ">
                                                            <p th:text="#{general.interprete}" /> 
                                                        </th>
                                                        <th style="background-color: lightpink;width: 25%; ">
                                                            <p th:text="#{general.anyo}" /> 
                                                        </th>
                                                    </tr> 
                                                </table>
                                            </div>
                                            <div id="respuestas" style="display: none;">
                                                <table class="table-responsive table-bordered" style="max-width: 100%; width: 100%; table-layout: fixed;">
                                                    <tr>
                                                        <td style="background-color:#dcdcdc;width: 40%; ">
                                                            <table class="table" border='none'>
                                                                <div th:each="opTitulo : ${opcTitulos}">
                                                                    <tr>
                                                                        <td style="background-color:#dcdcdc;">  
                                                                            <button style="background-color: white;" class="btn btn-outline-primary" th:data-name="${opTitulo.cancion}" th:onclick="respuestaTitulo(this.getAttribute('data-name'))" th:id="'titulo_' + ${opTitulo.cancion}">
                                                                                <p th:text="${opTitulo.opTitulo}" />
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </div>
                                                            </table>
                                                        </td>
                                                        <td style="background-color:#dcdcdc;width: 35%; ">
                                                            <table class="table" border='none'>
                                                                <div th:each="opcInterprete : ${opcInterpretes}">
                                                                    <tr>
                                                                        <td style="background-color:#dcdcdc;">  
                                                                            <button style="background-color: white;" class="btn btn-outline-primary" th:data-name="${opcInterprete.cancion}" th:onclick="respuestaInterprete(this.getAttribute('data-name'))" th:id="'interprete_' + ${opcInterprete.cancion}">
                                                                                <p th:text="${opcInterprete.opInterprete}" />
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </div>
                                                            </table>
                                                        </td>
                                                        <td style="background-color:#dcdcdc;width: 25%; ">                                               
                                                            <table class="table" border='none'>
                                                                <div th:each="opAnyo : ${opcAnyos}">
                                                                    <tr>
                                                                        <td style="background-color:#dcdcdc;">                                                             
                                                                            <button style="background-color: white;" type="button" class="btn btn-outline-primary" th:data-name="${opAnyo.opAnyo}" th:onclick="respuestaAnyo(this.getAttribute('data-name'))" th:id="'anyo_' + ${opAnyo.opAnyo}">
                                                                                <p th:text="${opAnyo.opAnyo}" />
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </div>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td> 
                                    </div>  
                                    </tr>  
                                    <tr th:each="ronda : ${partidaSesion.rondas}">
                                    <div th:if="${ronda.estaCompletada()}">
                                        <td colspan="3">
                                            <table class="table table-sm" style="text-align:center;">
                                                <tr>
                                                    <td style="width: 50%; text-align:center;">
                                                        <img th:src="${ronda.cancion.spotifyimagen}" alt="PLAYHITSGAME" class="img-fluid" />
                                                    </td>
                                                    <td style="width: 50%; text-align:center;background-color: lightpink;">
                                                        <p th:text="#{general.ronda}" />
                                                        <p th:text="${ronda.numero}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td th:text="#{general.cancion}"></td>                                                                
                                                            </tr>   
                                                            <tr>
                                                                <td th:text="'Titulo: ' + ${ronda.cancion.titulo}"></td>                                                                
                                                            </tr>       
                                                            <tr>
                                                                <td th:text="'Interprete: ' + ${ronda.cancion.interprete}"></td>                                                                
                                                            </tr>       
                                                            <tr>
                                                                <td th:text="'Año: ' + ${ronda.cancion.anyo}"></td>                                                                
                                                            </tr>       
                                                        </table> 
                                                    </td>
                                                <div th:each="resp : ${respuestas}">
                                                    <td th:if="${resp.ronda.numero == ronda.numero}">
                                                        <table style="width: 100%; align-content: center">
                                                            <tr>
                                                                <td th:text="#{general.puntos} + ' ' + ${resp.puntos}" style="background-color: lightgrey"></td>                                                                
                                                            </tr>   
                                                            <tr>
                                                                <td th:text="${resp.titulo}" th:style="${ronda.cancion.titulo == resp.titulo} ? 'background-color: lightgreen;' : ''"></td>                                                                
                                                            </tr>   
                                                            <tr>
                                                                <td th:text="${resp.interprete}" th:style="${ronda.cancion.interprete == resp.interprete} ? 'background-color: lightgreen;' : ''"></td>                                                                
                                                            </tr>   
                                                            <tr>
                                                                <td th:text="${resp.anyo}" th:style="${ronda.cancion.anyo == resp.anyo} ? 'background-color: lightgreen;' : ''"></td>                                                                
                                                            </tr>   
                                                        </table>
                                                    </td>
                                                </div>
                                                </tr>
                                            </table>
                                        </td>
                                    </div>
                                    </tr>
                                    <tr th:each="ronda : ${partidaSesion.rondas}">
                                    <div th:if="${partidaSesion.rondaActual != ronda.numero && !ronda.estaCompletada()}">
                                        <td style="text-align:center;">
                                            <p th:text="#{general.ronda}" />
                                            <p th:text="${ronda.numero}" />
                                        </td>
                                        <td colspan="2" th:text="#{general.rondapendiente}" />
                                    </div>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="text-center">
                                                <a href="/panel" class="text-dark">
                                                    <p th:text="#{general.volver}" />
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="text-center text-muted">
                                                <p th:text="#{general.version}" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </section>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/javascript/Info.js}"></script>
        <script type="text/javascript" th:src="@{/javascript/PartidaGrupo.js}"></script>
    </body>
</html>