<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Spotify Playback Example</h1>
        <!--
        <button id="play-button">Play Song</button>

        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script type="text/javascript" th:src="@{/javascript/Player.js}"></script>
-->
        <audio controls id="reproductor">
            <source src="https://www.dropbox.com/scl/fi/jhbp696r7w1vk5yr2vyfq/xxx.mp3?rlkey=ztbn0uws2wdakaao8vhxavvv1&st=h1itaa4w&raw=1" type="audio/mpeg" />
        </audio>
    </body>
</html>
