<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Records</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    </head>
    <body>
        <section>
            <div class="container h-100" th:if="${temas != null and !temas.empty}"> 

                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="card shadow-lg">
                            <div class="card-body p-4" >

                                <table class="table-responsive table-bordered" border="2" style="text-align:center;">
                                    <tr>
                                        <td style="text-align:center;">
                                            <img th:src="@{'/images/playhitsgamePresentacion.png'}" class="img-fluid" alt="PLAYHITSGAME" />
                                        </td>
                                    </tr>
                                    <tr th:each="elem : ${temas}">  
                                        <td>
                                            <table style="max-width: 100%; width: 100%; table-layout: fixed;">
                                                <tr>                                    
                                                    <th th:text="${elem.tema + ' ' + elem.descripcion}" style="width: 50%;background-color: lightpink;"/>
                                                    <th th:text="#{general.canciones} + ' ' + ${elem.canciones}" style="width: 50%;background-color: lightpink;"/>
                                                </tr>
                                                <tr>                                                   
                                                    <th th:text="#{general.usu}"/> 
                                                     <th th:text="#{general.puntos}"/>
                                                </tr>
                                                <tr>
                                                    <td th:text="${elem.usuarioRecord}"></td> 
                                                    <td th:text="${elem.puntos}"></td>                                              
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <a href="/panel" class="text-dark">
                                                    <p th:text="#{general.volver}" />
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-center text-muted">
                                                <p th:text="#{general.version}" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>     
        </section>
    </body>
</html>
