<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            td[data-value='true'] {
                background-color: lightgreen;
            }
            td[data-value='false'] {
                background-color: lightgrey;
            }

        </style>
    </head>
    <body>           
            
            <div>
                <a href="/panel" class="button">Volver</a>
             
                <table border="2" >                   
                   <tr>
                       <td><p>PARTIDA</p></td>
                       <td>
                           <p th:each="txt : ${partidaSesion.descripcion}" th:text="${txt}"></p>
                       </td>
                       <td></td>
                   </tr>
                   
                   <tr th:each="ronda : ${partidaSesion.rondas}">
                         <td th:text="'RONDA ' + ${ronda.numero}"></td>                          
                         <td>
                            <p th:text="'Titulo: ' + ${ronda.cancion.titulo}"></p>
                            <p th:text="'Interprete: ' + ${ronda.cancion.interprete}"></p>
                            <p th:text="'Año: ' + ${ronda.cancion.anyo}"></p>
                         </td>
                         <td>
                             <img th:src="${ronda.cancion.spotifyimagen}" alt="PLAYHITSGAME" width="100" height="100" />
                         </td>                             
                   </tr>                   
                </table>   
                
                <table border="2" >                     
                    <tr>
                       <th>Usuario</th>
                       <th th:each="ronda : ${partidaSesion.rondas}" th:text="'Ronda ' + ${ronda.numero}"/>
                       <th>Total</th>
                    </tr> 
                    <tr>
                       <th>PUNTOS</th>
                    </tr>
                    <tr th:each="elem : ${resultados}">
                        <td th:text="${elem.key}"></td>
                        <td th:each="resp : ${elem.value}" th:text="${resp.puntos}"/> 
                        <div th:each="pts : ${ptstotales}">
                            <div th:if="${pts.key} == ${elem.key}">
                                <td>
                                    <p th:text="${pts.value}"/>
                                </td>
                            </div>
                        </div>
                    </tr>          
                    <tr>
                       <th>RESPUESTA AÑO</th>
                    </tr>
                    <tr th:each="elem : ${resultados}">
                        <td th:text="${elem.key}"></td>
                        <td th:each="resp : ${elem.value}" th:text="${resp.anyo}" th:data-value="${resp.anyoOk}" /> 
                    </tr> 
                    <tr>
                       <th>RESPUESTA TITULO</th>
                    </tr>
                    <tr th:each="elem : ${resultados}">
                        <td th:text="${elem.key}"></td>
                        <td th:each="resp : ${elem.value}" th:text="${resp.titulo}" th:data-value="${resp.tituloOk}"/> 
                    </tr>   
                    <tr>
                       <th>RESPUESTA INTERPRETE</th>
                    </tr>
                    <tr th:each="elem : ${resultados}">
                        <td th:text="${elem.key}"></td>
                        <td th:each="resp : ${elem.value}" th:text="${resp.interprete}" th:data-value="${resp.interpreteOk}"/> 
                    </tr>   
                </table>
            </div>
    </body>
</html>
