<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spotify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="estilos/General.css">-->

    </head>
    <body>
        <div>

            <form method="post" th:action="@{/spotifyMostrarDatos}">                
                <input type="text" placeholder="Id de PlayList" name="idplaylist" required="required"/>
                <input type="submit" value="Ver Datos"/>                
            </form>            

            <form method="post" th:action="@{/spotifyServicios}">                
                <input type="text" placeholder="Id de PlayList" name="idplaylist" required="required"/>
                <input type="text" placeholder="Año de la PlayList" name="anyoplaylist" required="required"/>
                <input type="submit" value="Procesar"/>                
            </form>

            <form method="post" th:action="@{/spotifyServiciosTema}">                
                <input type="text" placeholder="Id de PlayList" name="idplaylist" required="required"/>
                <input type="text" placeholder="Tema" name="temaplaylist" required="required"/>
                <input type="submit" value="Procesar"/>                
            </form>


            <form method="post" th:action="@{/spotifyServiciosBD}"> 
                <input type="submit" value="Procesar Listas BD"/>                
            </form>
            
             <p th:text="${info}"></p>

            <table border="2">
                <tr> 
                    <th>Tema</th>
                    <th>Descripción</th>
                    <th>Idioma</th>
                    <th>Genero</th>                   
                    <th>Canciones</th>
                    <th>Listas Spotify</th>
                    <th>Operaciones</th>
                </tr>
                <tr th:each="elem : ${temas}">  
                    <td th:text="${elem.tema}"></td>
                    <td th:text="${elem.descripcion}"></td>
                    <td th:text="${elem.idioma}"></td>
                    <td th:text="${elem.genero}"></td>
                    <td th:text="${elem.numCanciones}"></td>
                    <td th:text="${elem.listasSpotify}"></td>
                    <td>
                        <a th:href="@{'/spotifyServiciosTema/' + ${elem.id}}">Actualizar Listas</a>
                    </td>
                </tr>
            </table>           

            <a href="/panel" class="button" id="volver">VOLVER</a>

        </div>
    </body>
</html>
