<th:block th:fragment="cumplimentarAdmin">

    <script th:src="@{/JavaScript/Lib/jquery/1.7.2/jquery.min.js}"></script>
    <script type="text/javascript">
        function enviarValidacion() {
            if (confirm("Si estás seguro de que deseas validar la jornada, presiona ACEPTAR, si no presiona CANCELAR")) {
                document.getElementById("operacionValidar").value = "Validar";
                document.forms[0].submit();
            }
        }
    </script>

    <br/><br/>

    <div th:if="${comp == null}">
        <br/>
        <b>NO HAY NINGUNA COMPETICION ACTIVA EN ESTE MOMENTO</b>
        <br/><br/>
    </div>

    <div th:if="${comp != null}">
        <form th:action="@{/panelControl/Quiniela/jornadaAdmin}" method="post">

            <div th:if="${!jornadaActiva}">
                No hay ninguna Jornada en curso, indicar el número de Jornada y pulsar Crear Jornada para su creación
                <br/>
            </div>

            <br/>
            <table class="tabla">
                <tr align="center">
                    <td>NUMERO JORNADA</td>
                    <td>
                        <input type="text" name="numeroJornada" th:value="${numJornada}" size="2"/>
                    </td>
                </tr>
                <tr align="center">
                    <td>PUNTOS GANADOR</td>
                    <td th:if="${jornadaActiva}">
                        <input type="text" th:value="${puntosJornada}" size="2" disabled />
                    </td>
                    <td th:if="${not jornadaActiva}">
                        <input type="text" th:name="puntosJornada" th:value="${puntosJornada}" size="2"/>
                    </td>                    
                </tr>
            </table>

            <br/>

            <!-- Inclusión del fragmento de la tabla Quiniela Admin -->
            <div th:insert="~{/fragments/Quiniela/tablaQuinielaAdmin :: tablaQuinielaAdmin}"></div>

            <br/>

            <div th:if="${jornadaActiva}">
                <input type="submit" value="Grabar" name="operacion"/>
            </div>

            <div th:if="${!jornadaActiva}">
                <input type="submit" value="Crear Jornada" name="operacion"/>
            </div>

            <br/>

            <div th:if="${resultadosCompletos}">
                <br/>
                Se han cumplimentado todos los resultados, puedes validar la jornada cuando quieras
                <br/><br/>
                <input type="button" value="Validar" name="operacion" onclick="enviarValidacion()"/>
                <input type="hidden" id="operacionValidar" name="operacion" value=""/>
                <br/>
            </div>

        </form>
    </div>

    <div th:if="${error != null}" th:text="${error}"></div>

</th:block>

