<th:block th:fragment="faqPuntuacion">

    <table class="tabladatos">
        <tr>
            <th>
                TABLA DE PUNTUACIONES
            </th>
        </tr>
        <tr>
            <td>
                La victoria y/o la designación del pagador se determine por el número de aciertos en las columnas, conforme al siguiente criterio: 
                cada jugador obtiene los puntos de la columna con mayor número de aciertos. Puede darse el caso de que la columna con más aciertos 
                tenga menos puntos que otra con menor número de aciertos.
            </td>
        </tr>
        <tr>
            <td>
                Los puntos para cada partido se obtienen con la fórmula: Número_Equipos * 2 * 10. Estos puntos se reparten entre todos los acertantes. 
                Para la contabilización de la puntuación, se usaran los puntos correspondientes a la columna con mayor puntuación, con independencia del número de aciertos, 
                sin perjuicio de los criterios establecidos en el punto anterior.
            </td>
        </tr>
        <tr>
            <td>
                A la puntuación anterior hay que sumar los puntos correspondientes a la jornada, los cuales se indicarán al momento de crearla. 
                Por defecto, estos puntos se calculan con la fórmula: Número_Equipos * 150. Sin embargo, pueden variar si el administrador así lo decide.<br/>
                <strong>Puntos por puesto:</strong><br/>
                Puesto 1: los puntos indicados en la creación de la jornada<br/>
                Puesto 2: la mitad del primero<br/>
                Puesto 3: la mitad del segundo<br/>
                Puesto 4: la mitad del tercero
            </td>
        </tr>
        <tr>
            <td>
                <strong>Nota:</strong> Para determinar el puesto, se consideran los puntos (no los aciertos). Si hay empate en los puntos de la primera columna, 
                se desempatará usando la segunda columna. Si el empate persiste entre uno o varios jugadores, se asignará a todos ellos 
                la puntuación correspondiente a esa posición.
            </td>
        </tr>
        
        <tr>
            <td>
                 Ademas, se premian, los aciertos que comporten compensación económica, otorgando las siguientes cantidades adicionales de puntos:
                    15 aciertos .......... 3.000 puntos
                    14 aciertos .......... 2.000 puntos
                    13 aciertos .......... 1.000 puntos
                    12 aciertos ............. 500 puntos
            </td>
        </tr>
    </table>
</th:block>