<th:block th:fragment="tablaMix">
    <table class="tabla">
        <thead>
            <tr>
                <th>Num</th>
                <th>Partido</th>
                <th>Apuestas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="apuesta : ${apuestasmix}">
                <td th:text="${apuesta.numero}"></td>
                <td th:text="${apuesta.partido}"></td>
                <td colspan="1" align="center">
                    <!-- Col 1 -->
                    <img th:if="${apuesta.col1}" th:src="@{/images/1Marcado.jpg}" alt="1M" />
                    <img th:unless="${apuesta.col1}" th:src="@{/images/1.jpg}" alt="1" />

                    <!-- Col X -->
                    <img th:if="${apuesta.colX}" th:src="@{/images/XMarcado.jpg}" alt="XM" />
                    <img th:unless="${apuesta.colX}" th:src="@{/images/X.jpg}" alt="X" />

                    <!-- Col 2 -->
                    <img th:if="${apuesta.col2}" th:src="@{/images/2Marcado.jpg}" alt="2M" />
                    <img th:unless="${apuesta.col2}" th:src="@{/images/2.jpg}" alt="2" />
                </td>
            </tr>
        </tbody>
    </table>
</th:block>