
<th:block th:fragment="tablaSencilla">
    <table class="tabla">
        <thead>
            <tr>
                <th>Num</th>
                <th>Partido</th>
                <th>Columna 1</th>
                <th>Columna 2</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="apuesta : ${apuestas}">
                <td th:text="${apuesta.numero}"></td>
                <td th:text="${apuesta.partido}"></td>

                <!-- Columna 1 -->
                <td align="center" colspan="1">
                    <img th:if="${apuesta.columna1 == '1'}" th:src="@{/images/1Marcado.jpg}" alt="1M" />
                    <img th:if="${apuesta.columna1 != '1'}" th:src="@{/images/1.jpg}" alt="1" />

                    <img th:if="${apuesta.columna1 == 'X'}" th:src="@{/images/XMarcado.jpg}" alt="XM" />
                    <img th:if="${apuesta.columna1 != 'X'}" th:src="@{/images/X.jpg}" alt="X" />

                    <img th:if="${apuesta.columna1 == '2'}" th:src="@{/images/2Marcado.jpg}" alt="2M" />
                    <img th:if="${apuesta.columna1 != '2'}" th:src="@{/images/2.jpg}" alt="2" />
                </td>

                <!-- Columna 2 -->
                <td align="center" colspan="1">
                    <img th:if="${apuesta.columna2 == '1'}" th:src="@{/images/1Marcado.jpg}" alt="1M" />
                    <img th:if="${apuesta.columna2 != '1'}" th:src="@{/images/1.jpg}" alt="1" />

                    <img th:if="${apuesta.columna2 == 'X'}" th:src="@{/images/XMarcado.jpg}" alt="XM" />
                    <img th:if="${apuesta.columna2 != 'X'}" th:src="@{/images/X.jpg}" alt="X" />

                    <img th:if="${apuesta.columna2 == '2'}" th:src="@{/images/2Marcado.jpg}" alt="2M" />
                    <img th:if="${apuesta.columna2 != '2'}" th:src="@{/images/2.jpg}" alt="2" />
                </td>
            </tr>
        </tbody>
    </table>
</th:block>