<th:block th:fragment="competiciones">

    <form th:action="@{/panelControl/Quiniela/competiciones}" method="post">

        <select name="competicion" onchange="this.form.submit()">
            <option th:each="comp : ${competiciones}"
                    th:value="${comp.id}"
                    th:text="${comp.nombre}"
                    th:selected="${comp.id == competicion}">
            </option>
        </select>

        <br/><br/>
        <a th:href="@{/panelControl/Quiniela/clasificacion(competicion=${competicion})}">Clasificación</a>
        <br/>

        <table class="tablaUp" width="100%">
            <tr>
                <td>
                    <div th:each="jornada : ${jornadasCol1}">
                        <span th:text="${jornada.descripcionPuntos}"></span><br/>
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th width="50%">Equipo</th>
                                    <th width="30%">Aciertos</th>
                                    <th width="20%">PTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="est : ${jornada.estadisticas}">
                                    <td th:text="${est.equipo}"></td>
                                    <td align="center" th:text="${est.aciertos}"></td>
                                    <td align="right" th:text="${est.puntos}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    <div th:each="jornada : ${jornadasCol2}">
                        <span th:text="${jornada.descripcionPuntos}"></span><br/>
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th width="50%">Equipo</th>
                                    <th width="30%">Aciertos</th>
                                    <th width="20%">PTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="est : ${jornada.estadisticas}">
                                    <td th:text="${est.equipo}"></td>
                                    <td align="center" th:text="${est.aciertos}"></td>
                                    <td align="right" th:text="${est.puntos}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    <div th:each="jornada : ${jornadasCol2}">
                        <span th:text="${jornada.descripcionPuntos}"></span><br/>
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th width="50%">Equipo</th>
                                    <th width="30%">Aciertos</th>
                                    <th width="20%">PTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="est : ${jornada.estadisticas}">
                                    <td th:text="${est.equipo}"></td>
                                    <td align="center" th:text="${est.aciertos}"></td>
                                    <td align="right" th:text="${est.puntos}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    <div th:each="jornada : ${jornadasCol3}">
                        <span th:text="${jornada.descripcionPuntos}"></span><br/>
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th width="50%">Equipo</th>
                                    <th width="30%">Aciertos</th>
                                    <th width="20%">PTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="est : ${jornada.estadisticas}">
                                    <td th:text="${est.equipo}"></td>
                                    <td align="center" th:text="${est.aciertos}"></td>
                                    <td align="right" th:text="${est.puntos}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</th:block>