<th:block th:fragment="faqPuntuacion">

    <table class="tabladatos">
        <tr>
            <th>
                TABLA DE PUNTUACIONES
            </th>
        </tr>
        <tr>
            <td>
                Cada Jugador obtiene los puntos de la columna con mayor número de aciertos.
            </td>
        </tr>
        <tr>
            <td>
                Los puntos para cada partido se obtienen de la formula Numero_Equipos * 2 * 10. Los puntos se reparten entre todos los acertantes.
            </td>
        </tr>
        
        <tr>
            <td>
                A la puntuación anterior hay que sumar los puntos para la jornada y que se informarán en la creacion de la jornada. 
                Por defecto, los que se obtienen de la formula Numero_Equipos * 150 y que se informaran en la creacion de la jornada, 
                pero pueden variar si el administrador lo decide<br/>
                Puntos para el puesto 1: Los puntos informados en la creación de la jornada<br/>
                Puntos para el puesto 2: La mitad del primero<br/>
                Puntos para el puesto 3: La mitad del segundo<br/>
                Puntos para el puesto 4: La mitad del tercero<br/>
            </td>
        </tr>
        <tr>
            <td>
                Nota: Para determinar el puesto, si hay empate en los aciertos de la 
                primera columna, se desempatará con la otra columna. En el caso de persistir 
                el empate entre uno o varios jugadores se asignará el número
                de puntos de esa posición para todos ellos.
            </td>
        </tr>
    </table>
</th:block>