<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlsn="http://w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    </head>
    <body>
        <header th:fragment="encabezado">
            
            <!--<a th:href="@{/(lang=es)}">ES</a> - <a th:href="@{/(lang=en)}">EN</a>-->
        </header>  
        
        <footer th:fragment="pie">
            <h1><p>Mail:</p><a href="mailto:playhitsgame00@gmail.com">playhitsgame00@gmail.com</a><p>Version Beta 1.1.0</p></h1>
        </header> 
        
    </body>
</html>
