
<th:block th:fragment="ranking">
    


<div th:if="${#lists.size(clubs) > 0}">
    <p class="titulo1">RANKING GENERAL</p>

    <table class="tabla" width="90%">
        <tr>
            <th>POSICIÓN</th>
            <th>CLUB</th>
            <th>FUNDADO</th>
            <th>PUNTOS</th>
            <th>TÍTULOS</th>
        </tr>
        <tr th:each="club, cuenta : ${clubs}">
            <td valign="middle" th:text="${cuenta.count}"></td>
            <td valign="middle" th:text="${club.nombre}"></td>
            <td valign="middle" th:text="${#dates.format(club.fundacion, 'dd/MM/yyyy')}"></td>
            <td valign="middle" th:text="${club.ranking}"></td>
            <td valign="middle">
                <span th:each="i : ${#numbers.sequence(1, club.titulosLigaFutbol8)}">
                    <img th:src="@{/images/ligaFutbolMini.png}" title="Liga Futbol8" alt="Liga Futbol8"/>
                </span>
                <span th:each="i : ${#numbers.sequence(1, club.titulosCopaFutbol8)}">
                    <img th:src="@{/images/copaFutbolMini.png}" title="Copa Futbol8" alt="Copa Futbol8"/>
                </span>
                <span th:each="i : ${#numbers.sequence(1, club.titulosQuiniela)}">
                    <img th:src="@{/images/copaQuinielaMini.png}" title="Quiniela" alt="Quiniela"/>
                </span>
            </td>
        </tr>
    </table>
</div>
</th:block>