
<!-- Asume que ya están en el modelo:
     - club
     - numero
     - comentarios (lista de objetos con fecha, club, comentario)
     - path (string que indica la acción del formulario final)
-->

<th:block th:fragment="comentarios">

<table class="tabladatos" width="100%">

    <tr th:if="${numero != null}">
        <th></th>
        <th></th>
        <td>
            <form th:action="@{/panelControl/Futbol8/comentarios}" method="post">
                NUMERO DE COMENTARIOS
                <input class="txtNum" type="text" name="numero" th:value="${numero}" size="3"/>
                <input type="submit" value="Ejecutar"/>
            </form>
        </td>
    </tr>

    <tr th:each="coment : ${comentarios}">
        <td align="left" width="15%">
            <span th:text="${#dates.format(coment.fecha, 'dd/MM/yyyy HH:mm')}"></span>
        </td>
        <td align="left" width="25%" th:text="${coment.club}"></td>
        <td align="left" width="60%" th:text="${coment.comentario}"></td>
    </tr>
</table>

<form method="POST" th:action="@{${path}}">
    <table class="tablaTitulo" cellpadding="3">
        <tr align="left">
            <td><label for="comentario" accesskey="i">Comentar:</label></td>
            <td>
                <input type="text" name="comentario" id="comentario"
                       title="Introduce tu comentario (max 255 caracteres)"
                       maxlength="255" style="width: 500px"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" id="bSubmit" name="bSubmit" value="Enviar" accesskey="E"/>
            </td>
        </tr>
    </table>
</form>
</block>