
<th:block th:fragment="fichaClub">
    

<p class="titulo1" th:text="${clubFicha.nombre}"></p>

<table class="tabla">
    <tr>
        <th>Fundado</th>
        <td th:text="${#dates.format(clubFicha.fundacion, 'dd/MM/yyyy')}"></td>
    </tr>
    <tr>
        <th>Último Acceso</th>
        <td th:text="${#dates.format(clubFicha.ultimoAcceso, 'dd/MM/yyyy')}"></td>
    </tr>
    <tr th:if="${clubFicha.diasSinAcceder > 7}">
        <th>Días Sin Acceder</th>
        <td th:text="${clubFicha.diasSinAcceder}"></td>
    </tr>
    <tr>
        <th>Puntos Ranking</th>
        <td th:text="${clubFicha.ranking}"></td>
    </tr>
</table>

<br/>

<table class="tablaTitulo">
    <tr th:if="${ligasFutbol8 > 0}">
        <th>Ligas Futbol8</th>
        <td>
            <span th:each="i : ${#numbers.sequence(1, ligasFutbol8)}">
                <img th:src="@{/images/ligaFutbol.png}" title="Liga" alt="Liga Futbol8"/>
            </span>
        </td>
    </tr>

    <tr th:if="${copasFutbol8 > 0}">
        <th>Copas Futbol8</th>
        <td>
            <span th:each="i : ${#numbers.sequence(1, copasFutbol8)}">
                <img th:src="@{/images/copaFutbol.png}" title="Copa" alt="Copa Futbol8"/>
            </span>
        </td>
    </tr>

    <tr th:if="${copasQuiniela > 0}">
        <th>Copas Quiniela</th>
        <td>
            <span th:each="i : ${#numbers.sequence(1, copasQuiniela)}">
                <img th:src="@{/images/copaQuiniela.png}" title="Copa" alt="Copa Quiniela"/>
            </span>
        </td>
    </tr>
</table>


</th:block>


